<div class="deals3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="dtitle">Last Minute</span>

        <div class="deal">
          <a href="details.html"><img src="img/thumb-img.jpg" alt="" class="dealthumb"/></a>

          <div class="dealtitle">
            <p><a href="details.html" class="dark">Diana Hotel</a></p>
            <img src="img/smallrating-4.png" alt="" class="mt-10"/><span class="size13 grey mt-9">Zakynthos</span>
          </div>
          <div class="dealprice">
            <p class="size12 grey lh2">from<span class="price">$35</span><br/>per night</p>
          </div>
        </div>
        <div class="deal">
          <a href="details.html"><img src="img/thumb-img.jpg" alt="" class="dealthumb"/></a>

          <div class="dealtitle">
            <p><a href="details.html" class="dark">Village Inn Studios & Family Apartments</a></p>
            <img src="img/smallrating-3.png" alt="" class="mt-10"/><span class="size13 grey mt-9">Zakynthos</span>
          </div>
          <div class="dealprice">
            <p class="size12 grey lh2">from<span class="price">$49</span><br/>per night</p>
          </div>
        </div>
        <div class="deal">
          <a href="details.html"><img src="img/thumb-img.jpg" alt="" class="dealthumb"/></a>

          <div class="dealtitle">
            <p><a href="details.html" class="dark">Palatino Hotel</a></p>
            <img src="img/smallrating-4.png" alt="" class="mt-10"/><span class="size13 grey mt-9">Zakynthos</span>
          </div>
          <div class="dealprice">
            <p class="size12 grey lh2">from<span class="price">$90</span><br/>per night</p>
          </div>
        </div>
      </div>
      <!-- End of first row-->

      <div class="col-md-4">
        <span class="dtitle">Early Booking</span>

        <div class="deal">
          <a href="details.html"><img src="img/thumb-img.jpg" alt="" class="dealthumb"/></a>

          <div class="dealtitle">
            <p><a href="details.html" class="dark">Comfort Suites Paradise Island</a></p>
            <img src="img/smallrating-4.png" alt="" class="mt-10"/><span class="size13 grey mt-9">Bahamas</span>
          </div>
          <div class="dealprice">
            <p class="size12 grey lh2">from<span class="price">$29</span><br/>per night</p>
          </div>
        </div>
        <div class="deal">
          <a href="details.html"><img src="img/thumb-img.jpg" alt="" class="dealthumb"/></a>

          <div class="dealtitle">
            <p><a href="details.html" class="dark">Barcelo Malaga</a></p>
            <img src="img/smallrating-3.png" alt="" class="mt-10"/><span class="size13 grey mt-9">Spain</span>
          </div>
          <div class="dealprice">
            <p class="size12 grey lh2">from<span class="price">$32</span><br/>per night</p>
          </div>
        </div>
        <div class="deal">
          <a href="details.html"><img src="img/thumb-img.jpg" alt="" class="dealthumb"/></a>

          <div class="dealtitle">
            <p><a href="details.html" class="dark">Palatino Hotel</a></p>
            <img src="img/smallrating-3.png" alt="" class="mt-10"/><span class="size13 grey mt-9">Zakynthos</span>
          </div>
          <div class="dealprice">
            <p class="size12 grey lh2">from<span class="price">$90</span><br/>per night</p>
          </div>
        </div>
      </div>
      <!-- End of first row-->

      <div class="col-md-4">
        <span class="dtitle">Hot Deals</span>

        <div class="deal">
          <a href="details.html"><img src="img/thumb-img.jpg" alt="" class="dealthumb"/></a>

          <div class="dealtitle">
            <p><a href="details.html" class="dark">Parayso Hotel And Spa</a></p>
            <img src="img/smallrating-4.png" alt="" class="mt-10"/><span class="size13 grey mt-9">Zakynthos</span>
          </div>
          <div class="dealprice">
            <p class="size12 grey lh2">from<span class="price">$49</span><br/>per night</p>
          </div>
        </div>
        <div class="deal">
          <a href="details.html"><img src="img/thumb-img.jpg" alt="" class="dealthumb"/></a>

          <div class="dealtitle">
            <p><a href="details.html" class="dark">Village Inn Studios & Family Apartments</a></p>
            <img src="img/smallrating-3.png" alt="" class="mt-10"/><span class="size13 grey mt-9">Zakynthos</span>
          </div>
          <div class="dealprice">
            <p class="size12 grey lh2">from<span class="price">$79</span><br/>per night</p>
          </div>
        </div>
        <div class="deal">
          <a href="details.html"><img src="img/thumb-img.jpg" alt="" class="dealthumb"/></a>

          <div class="dealtitle">
            <p><a href="details.html" class="dark">Diana Hotel</a></p>
            <img src="img/smallrating-3.png" alt="" class="mt-10"/><span class="size13 grey mt-9">Zakynthos</span>
          </div>
          <div class="dealprice">
            <p class="size12 grey lh2">from<span class="price">$299</span><br/>per night</p>
          </div>
        </div>
      </div>
      <!-- End of first row-->
    </div>
  </div>
</div>