
<div class="search-form container mt-200 z-index100">
  <div class="row">
    <div class="col-md-4">
      <div class="bs-example bs-example-tabs cstyle04">
        <form novalidate class="css-form">
          <div class="tab-content3" id="myTabContent">

            <div id="hotel" ng-style="{'height': formContentHeight + 'px'}" class="tab-pane">

              <!--Typeahead-->
              <span class="opensans size18">Go here or else!</span>
              <input type="text" ng-model="search.location" typeahead-min-length="3" placeholder="Greece"
                     typeahead="locations as locations.label for locations in getLocation($viewValue)" class="form-control">
              <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
              <br/>

              <div class="w50percent">
                <div class="wh90percent textleft">
                  <span class="opensans size13"><b>Check in date</b></span>
                  <!--Checkin Date Calendar-->
                  <input class="form-control mySelectCalendar" ng-click="openCheckIn($event)" type="text"
                         datepicker-popup="{{format}}" ng-model="search.checkinDt" is-open="checkInOpened" min="minDate"
                         max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                         ng-required="true" close-text="Close"/>
                </div>
              </div>

              <div class="w50percentlast">
                <div class="wh90percent textleft right">
                  <!--Checkout Date Calendar-->
                  <span class="opensans size13"><b>Check out date</b></span>
                  <input class="form-control mySelectCalendar" ng-click="openCheckOut($event)" type="text"
                         datepicker-popup="{{format}}" ng-model="search.checkoutDt" is-open="checkOutOpened"
                         min="minDate" max="'2015-06-22'" datepicker-options="dateOptions"
                         date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                </div>
              </div>

              <!--Rooms-->
              <div ng-repeat="room in search.rooms">
                <div class="clearfix"></div>
                <div class="room1 margtop15">
                  <div class="w50percent">
                    <div class="wh90percent textleft">
                      <span class="opensans size13"><b>ROOM {{$index + 1}}</b></span><br/>
                      <div ng-show="$index <= 1">
                        <div ng-if="$index <= 2" class="addroom1 block"><a href="#" ng-click="addRoom()" class="grey">+ Add room</a></div>
                        <div ng-show="$index > 0" class="addroom1 block"><a href="#" ng-click="removeRoom($index)"
                                                                            class="grey">- Remove room</a></div>
                      </div>
                    </div>
                  </div>

                  <div class="w50percentlast">
                    <div class="wh90percent textleft right ohidden">
                      <div class="w50percent">
                        <div class="wh90percent textleft left">
                          <!--Add Adult-->
                          <span class="opensans size13"><b>Adult</b></span>
                          <select ng-model="room.numberOfAdults" class="form-control">
                            <option>1</option>
                            <option selected>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                      <div class="w50percentlast">
                        <div class="wh90percent textleft right ohidden">
                          <!--Add Child-->
                          <span class="opensans size13"><b>Children</b></span>
                          <select ng-change="childrenAges()" ng-model="room.numberOfChildren" class="form-control">
                            <option>0</option>
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Child Ages-->
                  <div class="w100percentlast" ng-if="room.showChildrenAges">
                    <div class="clearfix"></div>
                    <hr/>
                    <div ng-class="{'w33percent': $index != 2,  'w34percentlast':  $index == 2}" ng-repeat="age in room.ages">
                      <div class="wh32percent child-age-marg textleft left ohidden">
                        <!--Add Child-->
                        <span class="opensans size13"><b>Child {{ $index + 1 }}</b></span>
                        <select ng-model="age" class="form-control">
                          <option>Age</option>
                          <option selected> > 1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                          <option>13</option>
                          <option>14</option>
                          <option>15</option>
                          <option>16</option>
                          <option>17</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="searchbg" ng-style="{'top': formFooterHeight + 'px'}">
            <button type="submit" class="btn-search">Search</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="shadow cstyle05">
        <div class="fwi one"><img src="img/rome.jpg" alt=""/>

          <div class="mhover none">
        <span class="icon">
        <a href="../list/list4.html">
          <img src="img/spacer.png" alt=""/>
        </a>
      </span>
          </div>
        </div>
        <div class="ctitle">Rome
          <a href="../list/list4.html">
            <img src="img/spacer.png" alt=""/>
          </a>
          <span>$59.99</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="shadow cstyle05">
        <div class="fwi one"><img src="img/surfer.jpg" alt=""/>

          <div class="mhover none">
            <span class="icon"><a href="../list/list4.html"><img src="img/spacer.png" alt=""/></a></span>
          </div>
        </div>
        <div class="ctitle">Cote d'azur<a href="../list/list4.html"><img src="img/spacer.png" alt=""/></a>
          <span>$59.99</span>
        </div>
      </div>
    </div>
  </div>
</div>