<!-- LIST CONTENT-->
<div class="rightcontent col-md-9 offset-0">
			
  <div class="hpadding20">
    <!-- Top filters -->
    <div class="topsortby">
      <div class="col-md-4 offset-0">

          <div class="left mt7"><b>Sort by:</b></div>

          <div class="right wh70percent">
            <select class="form-control mySelectBoxClass ">
              <option selected>Guest rating</option>
              <option>5 stars</option>
              <option>4 stars</option>
              <option>3 stars</option>
              <option>2 stars</option>
              <option>1 stars</option>
            </select>
          </div>

      </div>
      <div class="col-md-4">
        <div class="w50percent">
          <div class="wh90percent">
            <select class="form-control mySelectBoxClass ">
              <option selected>Name</option>
              <option>A to Z</option>
              <option>Z to A</option>
            </select>
          </div>
        </div>
        <div class="w50percentlast">
          <div class="wh90percent">
            <select class="form-control mySelectBoxClass ">
              <option selected>Price</option>
              <option>Ascending</option>
              <option>Descending</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4 offset-0">
        <button class="popularbtn left">Most Popular</button>
        <div class="right">
          <button class="gridbtn" onClick="window.open('list2.html','_self');">&nbsp;</button>
          <button class="listbtn" onClick="window.open('list4.html','_self');">&nbsp;</button>
          <button class="grid2btn active">&nbsp;</button>
        </div>
      </div>
    </div>
    <!-- End of topfilters-->
  </div>
  <!-- End of padding -->

  <br/><br/>
  <div class="clearfix"></div>


  <div class="itemscontainer offset-1">


    <div class="col-md-4">
      <div class="listitem">
        <img src="images/items/item1.jpg" alt=""/>
        <div class="liover"></div>
        <a class="fav-icon" href="#"></a>
        <a class="book-icon" href="#"></a>
      </div>
      <div class="itemlabel2">
        <div class="labelright">
          <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
          <img src="images/user-rating-5.png" width="60" alt=""/><br/>
          <span class="size11 grey">18 Reviews</span><br/><br/>
          <span class="green size18"><b>$16.00</b></span><br/>
          <span class="size11 grey">avg/night</span><br/><br/><br/>
          <button class="bookbtn mt1">Book</button>
        </div>
        <div class="labelleft">
          <b>Mabely Grand Hotel</b><br/><br/><br/>
          <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
          Vestibulum vel risus at lectus rhoncus mattis. Sed id enim eu orci rhoncus malesuada.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="listitem">
        <img src="images/items/item2.jpg" alt=""/>
        <div class="liover"></div>
        <a class="fav-icon" href="#"></a>
        <a class="book-icon" href="#"></a>
      </div>
      <div class="itemlabel2">
        <div class="labelright">
          <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
          <img src="images/user-rating-5.png" width="60" alt=""/><br/>
          <span class="size11 grey">18 Reviews</span><br/><br/>
          <span class="green size18"><b>$16.00</b></span><br/>
          <span class="size11 grey">avg/night</span><br/><br/><br/>
          <button class="bookbtn mt1">Book</button>
        </div>
        <div class="labelleft">
          <b>Mabely Grand Hotel</b><br/><br/><br/>
          <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
          Vestibulum vel risus at lectus rhoncus mattis. Sed id enim eu orci rhoncus malesuada.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="listitem">
        <img src="images/items/item3.jpg" alt=""/>
        <div class="liover"></div>
        <a class="fav-icon" href="#"></a>
        <a class="book-icon" href="#"></a>
      </div>
      <div class="itemlabel2">
        <div class="labelright">
          <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
          <img src="images/user-rating-5.png" width="60" alt=""/><br/>
          <span class="size11 grey">18 Reviews</span><br/><br/>
          <span class="green size18"><b>$16.00</b></span><br/>
          <span class="size11 grey">avg/night</span><br/><br/><br/>
          <button class="bookbtn mt1">Book</button>
        </div>
        <div class="labelleft">
          <b>Mabely Grand Hotel</b><br/><br/><br/>
          <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
          Vestibulum vel risus at lectus rhoncus mattis. Sed id enim eu orci rhoncus malesuada.</p>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="offset-2"><hr class="featurette-divider3"></div>

    <div class="col-md-4">
      <div class="listitem">
        <img src="images/items/item4.jpg" alt=""/>
        <div class="liover"></div>
        <a class="fav-icon" href="#"></a>
        <a class="book-icon" href="#"></a>
      </div>
      <div class="itemlabel2">
        <div class="labelright">
          <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
          <img src="images/user-rating-5.png" width="60" alt=""/><br/>
          <span class="size11 grey">18 Reviews</span><br/><br/>
          <span class="green size18"><b>$16.00</b></span><br/>
          <span class="size11 grey">avg/night</span><br/><br/><br/>
          <button class="bookbtn mt1">Book</button>
        </div>
        <div class="labelleft">
          <b>Mabely Grand Hotel</b><br/><br/><br/>
          <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
          Vestibulum vel risus at lectus rhoncus mattis. Sed id enim eu orci rhoncus malesuada.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="listitem">
        <img src="images/items/item5.jpg" alt=""/>
        <div class="liover"></div>
        <a class="fav-icon" href="#"></a>
        <a class="book-icon" href="#"></a>
      </div>
      <div class="itemlabel2">
        <div class="labelright">
          <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
          <img src="images/user-rating-5.png" width="60" alt=""/><br/>
          <span class="size11 grey">18 Reviews</span><br/><br/>
          <span class="green size18"><b>$16.00</b></span><br/>
          <span class="size11 grey">avg/night</span><br/><br/><br/>
          <button class="bookbtn mt1">Book</button>
        </div>
        <div class="labelleft">
          <b>Mabely Grand Hotel</b><br/><br/><br/>
          <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
          Vestibulum vel risus at lectus rhoncus mattis. Sed id enim eu orci rhoncus malesuada.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="listitem">
        <img src="images/items/item6.jpg" alt=""/>
        <div class="liover"></div>
        <a class="fav-icon" href="#"></a>
        <a class="book-icon" href="#"></a>
      </div>
      <div class="itemlabel2">
        <div class="labelright">
          <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
          <img src="images/user-rating-5.png" width="60" alt=""/><br/>
          <span class="size11 grey">18 Reviews</span><br/><br/>
          <span class="green size18"><b>$16.00</b></span><br/>
          <span class="size11 grey">avg/night</span><br/><br/><br/>
          <button class="bookbtn mt1">Book</button>
        </div>
        <div class="labelleft">
          <b>Mabely Grand Hotel</b><br/><br/><br/>
          <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
          Vestibulum vel risus at lectus rhoncus mattis. Sed id enim eu orci rhoncus malesuada.</p>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="offset-2"><hr class="featurette-divider3"></div>

    <div class="col-md-4">
      <div class="listitem">
        <img src="images/items/item7.jpg" alt=""/>
        <div class="liover"></div>
        <a class="fav-icon" href="#"></a>
        <a class="book-icon" href="#"></a>
      </div>
      <div class="itemlabel2">
        <div class="labelright">
          <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
          <img src="images/user-rating-5.png" width="60" alt=""/><br/>
          <span class="size11 grey">18 Reviews</span><br/><br/>
          <span class="green size18"><b>$16.00</b></span><br/>
          <span class="size11 grey">avg/night</span><br/><br/><br/>
          <button class="bookbtn mt1">Book</button>
        </div>
        <div class="labelleft">
          <b>Mabely Grand Hotel</b><br/><br/><br/>
          <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
          Vestibulum vel risus at lectus rhoncus mattis. Sed id enim eu orci rhoncus malesuada.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="listitem">
        <img src="images/items/item8.jpg" alt=""/>
        <div class="liover"></div>
        <a class="fav-icon" href="#"></a>
        <a class="book-icon" href="#"></a>
      </div>
      <div class="itemlabel2">
        <div class="labelright">
          <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
          <img src="images/user-rating-5.png" width="60" alt=""/><br/>
          <span class="size11 grey">18 Reviews</span><br/><br/>
          <span class="green size18"><b>$16.00</b></span><br/>
          <span class="size11 grey">avg/night</span><br/><br/><br/>
          <button class="bookbtn mt1">Book</button>
        </div>
        <div class="labelleft">
          <b>Mabely Grand Hotel</b><br/><br/><br/>
          <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
          Vestibulum vel risus at lectus rhoncus mattis. Sed id enim eu orci rhoncus malesuada.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="listitem">
        <img src="images/items/item9.jpg" alt=""/>
        <div class="liover"></div>
        <a class="fav-icon" href="#"></a>
        <a class="book-icon" href="#"></a>
      </div>
      <div class="itemlabel2">
        <div class="labelright">
          <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
          <img src="images/user-rating-5.png" width="60" alt=""/><br/>
          <span class="size11 grey">18 Reviews</span><br/><br/>
          <span class="green size18"><b>$16.00</b></span><br/>
          <span class="size11 grey">avg/night</span><br/><br/><br/>
          <button class="bookbtn mt1">Book</button>
        </div>
        <div class="labelleft">
          <b>Mabely Grand Hotel</b><br/><br/><br/>
          <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><br/>
          Vestibulum vel risus at lectus rhoncus mattis. Sed id enim eu orci rhoncus malesuada.</p>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="offset-2"><hr class="featurette-divider3"></div>

  </div>
  <!-- End of offset1-->

  <div class="hpadding20">

    <ul class="pagination right paddingbtm20">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>

  </div>

			</div>
<!-- END OF LIST CONTENT-->