<!-- LIST CONTENT-->
<div class="rightcontent col-md-9 offset-0">

  <div class="hpadding20">
    <!-- Top filters -->
    <div class="topsortby">
      <div class="col-md-4 offset-0">

          <div class="left mt7"><b>Sort by:</b></div>

          <div class="right wh70percent">
            <select class="form-control mySelectBoxClass ">
              <option selected>Guest rating</option>
              <option>5 stars</option>
              <option>4 stars</option>
              <option>3 stars</option>
              <option>2 stars</option>
              <option>1 stars</option>
            </select>
          </div>

      </div>
      <div class="col-md-4">
        <div class="w50percent">
          <div class="wh90percent">
            <select class="form-control mySelectBoxClass ">
              <option selected>Name</option>
              <option>A to Z</option>
              <option>Z to A</option>
            </select>
          </div>
        </div>
        <div class="w50percentlast">
          <div class="wh90percent">
            <select class="form-control mySelectBoxClass ">
              <option selected>Price</option>
              <option>Ascending</option>
              <option>Descending</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4 offset-0">
        <button class="popularbtn left">Most Popular</button>
        <div class="right">
          <button class="gridbtn" onClick="window.open('list2.html','_self');">&nbsp;</button>
          <button class="listbtn active">&nbsp;</button>
          <button class="grid2btn" onClick="window.open('list3.html','_self');">&nbsp;</button>
        </div>
      </div>
    </div>
    <!-- End of topfilters-->
  </div>
  <!-- End of padding -->

  <br/><br/>
  <div class="clearfix"></div>


  <div class="itemscontainer offset-1">


    <div class="offset-2">
      <div class="col-md-4 offset-0">
        <div class="listitem2">
          <a href="images/items/item7.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="images/items/item7.jpg" alt=""/></a>
          <div class="liover"></div>
          <a class="fav-icon" href="#"></a>
          <a class="book-icon" href="details.html"></a>
        </div>
      </div>
      <div class="col-md-8 offset-0">
        <div class="itemlabel3">
          <div class="labelright">
            <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
            <img src="images/user-rating-5.png" width="60" alt=""/><br/>
            <span class="size11 grey">18 Reviews</span><br/><br/>
            <span class="green size18"><b>$36.00</b></span><br/>
            <span class="size11 grey">avg/night</span><br/><br/><br/>
            <form action="details.html">
             <button class="bookbtn mt1" type="submit">Book</button>
            </form>
          </div>
          <div class="labelleft2">
            <b>Mabely Grand Hotel</b><br/><br/><br/>
            <p class="grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse placerat enim mauris, eget lobortis nisi egestas et.
            Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>
            <ul class="hotelpreferences">
              <li class="icohp-internet"></li>
              <li class="icohp-air"></li>
              <li class="icohp-pool"></li>
              <li class="icohp-childcare"></li>
              <li class="icohp-fitness"></li>
              <li class="icohp-breakfast"></li>
              <li class="icohp-parking"></li>
              <li class="icohp-pets"></li>
              <li class="icohp-spa"></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="offset-2"><hr class="featurette-divider3"></div>

    <div class="offset-2">
      <div class="col-md-4 offset-0">
        <div class="listitem2">
          <a href="images/items/item11.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="images/items/item11.jpg" alt=""/></a>
          <div class="liover"></div>
          <a class="fav-icon" href="#"></a>
          <a class="book-icon" href="details.html"></a>
        </div>
      </div>
      <div class="col-md-8 offset-0">
        <div class="itemlabel3">
          <div class="labelright">
            <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
            <img src="images/user-rating-5.png" width="60" alt=""/><br/>
            <span class="size11 grey">18 Reviews</span><br/><br/>
            <span class="green size18"><b>$39.00</b></span><br/>
            <span class="size11 grey">avg/night</span><br/><br/><br/>
            <form action="details.html">
             <button class="bookbtn mt1" type="submit">Book</button>
            </form>
          </div>
          <div class="labelleft2">
            <b>Mabely Grand Hotel</b><br/><br/><br/>
            <p class="grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse placerat enim mauris, eget lobortis nisi egestas et.
            Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>
            <ul class="hotelpreferences">
              <li class="icohp-hairdryer"></li>
              <li class="icohp-garden"></li>
              <li class="icohp-grill"></li>
              <li class="icohp-kitchen"></li>
              <li class="icohp-bar"></li>
              <li class="icohp-living"></li>
              <li class="icohp-tv"></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="offset-2"><hr class="featurette-divider3"></div>

    <div class="offset-2">
      <div class="col-md-4 offset-0">
        <div class="listitem2">
          <a href="images/items/item1.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="images/items/item1.jpg" alt=""/></a>
          <div class="liover"></div>
          <a class="fav-icon" href="#"></a>
          <a class="book-icon" href="details.html"></a>
        </div>
      </div>
      <div class="col-md-8 offset-0">
        <div class="itemlabel3">
          <div class="labelright">
            <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
            <img src="images/user-rating-5.png" width="60" alt=""/><br/>
            <span class="size11 grey">18 Reviews</span><br/><br/>
            <span class="green size18"><b>$45.00</b></span><br/>
            <span class="size11 grey">avg/night</span><br/><br/><br/>
            <form action="details.html">
             <button class="bookbtn mt1" type="submit">Book</button>
            </form>
          </div>
          <div class="labelleft2">
            <b>Mabely Grand Hotel</b><br/><br/><br/>
            <p class="grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse placerat enim mauris, eget lobortis nisi egestas et.
            Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>
            <ul class="hotelpreferences">
              <li class="icohp-fridge"></li>
              <li class="icohp-microwave"></li>
              <li class="icohp-washing"></li>
              <li class="icohp-roomservice"></li>
              <li class="icohp-safe"></li>
              <li class="icohp-playground"></li>
              <li class="icohp-conferenceroom"></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="offset-2"><hr class="featurette-divider3"></div>

    <div class="offset-2">
      <div class="col-md-4 offset-0">
        <div class="listitem2">
          <a href="images/items/item5.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="images/items/item5.jpg" alt=""/></a>
          <div class="liover"></div>
          <a class="fav-icon" href="#"></a>
          <a class="book-icon" href="details.html"></a>
        </div>
      </div>
      <div class="col-md-8 offset-0">
        <div class="itemlabel3">
          <div class="labelright">
            <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
            <img src="images/user-rating-5.png" width="60" alt=""/><br/>
            <span class="size11 grey">18 Reviews</span><br/><br/>
            <span class="green size18"><b>$49.00</b></span><br/>
            <span class="size11 grey">avg/night</span><br/><br/><br/>
            <form action="details.html">
             <button class="bookbtn mt1" type="submit">Book</button>
            </form>
          </div>
          <div class="labelleft2">
            <b>Mabely Grand Hotel</b><br/><br/><br/>
            <p class="grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse placerat enim mauris, eget lobortis nisi egestas et.
            Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>
            <ul class="hotelpreferences">
              <li class="icohp-internet"></li>
              <li class="icohp-air"></li>
              <li class="icohp-pool"></li>
              <li class="icohp-childcare"></li>
              <li class="icohp-fitness"></li>
              <li class="icohp-breakfast"></li>
              <li class="icohp-parking"></li>
              <li class="icohp-pets"></li>
              <li class="icohp-spa"></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="offset-2"><hr class="featurette-divider3"></div>

    <div class="offset-2">
      <div class="col-md-4 offset-0">
        <div class="listitem2">
          <a href="images/items/item2.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="images/items/item2.jpg" alt=""/></a>
          <div class="liover"></div>
          <a class="fav-icon" href="#"></a>
          <a class="book-icon" href="details.html"></a>
        </div>
      </div>
      <div class="col-md-8 offset-0">
        <div class="itemlabel3">
          <div class="labelright">
            <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
            <img src="images/user-rating-5.png" width="60" alt=""/><br/>
            <span class="size11 grey">18 Reviews</span><br/><br/>
            <span class="green size18"><b>$49.00</b></span><br/>
            <span class="size11 grey">avg/night</span><br/><br/><br/>
            <form action="details.html">
             <button class="bookbtn mt1" type="submit">Book</button>
            </form>
          </div>
          <div class="labelleft2">
            <b>Mabely Grand Hotel</b><br/><br/><br/>
            <p class="grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse placerat enim mauris, eget lobortis nisi egestas et.
            Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>
            <ul class="hotelpreferences">
              <li class="icohp-fridge"></li>
              <li class="icohp-microwave"></li>
              <li class="icohp-washing"></li>
              <li class="icohp-roomservice"></li>
              <li class="icohp-safe"></li>
              <li class="icohp-playground"></li>
              <li class="icohp-conferenceroom"></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="offset-2"><hr class="featurette-divider3"></div>


  </div>
  <!-- End of offset1-->

  <div class="hpadding20">

    <ul class="pagination right paddingbtm20">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>

  </div>

</div>
<!-- END OF LIST CONTENT-->