<div class="container cstyle06">

  <div class="row anim2">
    <div class="col-md-3">
      <h2>Today's Top<br/>Deals</h2><br/>
      Start your search with a look at the best rates on our site.
    </div>
    <div class="col-md-9">


      <!-- Carousel -->
      <div class="wrapper">
        <div class="list_carousel">
          <ul id="foo">
            <li>
              <a href="../list/list4.html"><img src="images/thumb-hawaii.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>Visit the Hawaii Beaches</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
            <li>
              <a href="../list/list4.html"><img src="images/thumb-santorini.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>Santorini - Greece</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
            <li>
              <a href="../list/list4.html"><img src="images/thumb-dubai.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>Dubai</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
            <li>
              <a href="../list/list4.html"><img src="images/thumb-hawaii.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>Visit the Hawaii Beaches</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
            <li>
              <a href="../list/list4.html"><img src="images/thumb-santorini.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>Santorini - Greece</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
            <li>
              <a href="../list/list4.html"><img src="images/thumb-dubai.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>Dubai</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
          </ul>
          <div class="clearfix"></div>
          <a id="prev_btn" class="prev" href="#"><img src="images/spacer.png" alt=""/></a>
          <a id="next_btn" class="next" href="#"><img src="images/spacer.png" alt=""/></a>
        </div>
      </div>


    </div>
  </div>

  <hr class="featurette-divider2">

  <div class="row anim3">
    <div class="col-md-3">
      <h2>Featured<br/>Offers</h2><br/>
      Start your search with a look at the best rates on our site.
    </div>
    <div class="col-md-9">

      <!-- Carousel -->
      <div class="wrapper">
        <div class="list_carousel">
          <ul id="foo2">
            <li>
              <a href="../list/list3.html"><img src="images/thumb-africa.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>South Africa Adventures</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
            <li>
              <a href="../list/list3.html"><img src="images/thumb-egipt.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>Egipt</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
            <li>
              <a href="../list/list3.html"><img src="images/thumb-machupicchu.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>Machu Picchu</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
            <li>
              <a href="../list/list3.html"><img src="images/thumb-africa.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>South Africa Adventures</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
            <li>
              <a href="../list/list3.html"><img src="images/thumb-egipt.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>Egipt</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
            <li>
              <a href="../list/list3.html"><img src="images/thumb-machupicchu.jpg" alt=""/></a>

              <div class="m1">
                <h6 class="lh1 dark"><b>Machu Picchu</b></h6>
                <h6 class="lh1 green">Save up to 30%</h6>
              </div>
            </li>
          </ul>
          <div class="clearfix"></div>
          <a id="prev_btn2" class="prev" href="#"><img src="images/spacer.png" alt=""/></a>
          <a id="next_btn2" class="next" href="#"><img src="images/spacer.png" alt=""/></a>
        </div>
      </div>

    </div>
  </div>

</div>