<!-- FOOTER -->

<div class="footerbg">
  <div class="container">

    <div class="col-md-3">
      <span class="ftitle">Let's socialize</span>

      <div class="scont">
        <a href="#" class="social1b"><img src="img/icon-facebook.png" alt=""/></a>
        <a href="#" class="social2b"><img src="img/icon-twitter.png" alt=""/></a>
        <a href="#" class="social3b"><img src="img/icon-gplus.png" alt=""/></a>
        <a href="#" class="social4b"><img src="img/icon-youtube.png" alt=""/></a>
        <br/><br/><br/>
        <img src="img/logosmal.png" alt=""/><br/>
        &copy; 2013 | <a href="#">Privacy Policy</a><br/>
        All Rights Reserved
        <br/><br/>

      </div>
    </div>
    <!-- End of column 1-->

    <div class="col-md-3">
      <span class="ftitle">Travel Specialists</span>
      <br/><br/>
      <ul class="footerlist">
        <li><a href="#">Golf Vacations</a></li>
        <li><a href="#">Ski & Snowboarding</a></li>
        <li><a href="#">Disney Parks Vacations</a></li>
        <li><a href="#">Disneyland Vacations</a></li>
        <li><a href="#">Disney World Vacations</a></li>
        <li><a href="#">Vacations As Advertised</a></li>
      </ul>
    </div>
    <!-- End of column 2-->

    <div class="col-md-3">
      <span class="ftitle">Travel Specialists</span>
      <br/><br/>
      <ul class="footerlist">
        <li><a href="#">Weddings</a></li>
        <li><a href="#">Accessible Travel</a></li>
        <li><a href="#">Disney Parks</a></li>
        <li><a href="#">Cruises</a></li>
        <li><a href="#">Round the World</a></li>
        <li><a href="#">First Class Flights</a></li>
      </ul>
    </div>
    <!-- End of column 3-->

    <div class="col-md-3 grey">
      <span class="ftitle">Newsletter</span>

      <div class="relative">
        <input type="email" class="form-control fccustom2" id="exampleInputEmail1" placeholder="Enter email">
        <button type="submit" class="btn btn-default btncustom">Submit<img src="img/arrow.png" alt=""/></button>
      </div>
      <br/><br/>
      <span class="ftitle">Customer support</span><br/>
      <span class="pnr">1-866-599-6674</span><br/>
      office@travel.com
    </div>
    <!-- End of column 4-->


  </div>
</div>

<div class="footerbg3">
  <div class="container center grey">
    <a href="#">Home</a> |
    <a href="#">About</a> |
    <a href="#">Last minute</a> |
    <a href="#">Early booking</a> |
    <a href="#">Special offers</a> |
    <a href="#">Blog</a> |
    <a href="#">Contact</a>
    <a href="#top" class="gotop scroll"><img src="img/spacer.png" alt=""/></a>
  </div>
</div>