<!-- Top wrapper -->
<div class="navbar-wrapper2 navbar-fixed-top">
  <div class="container">
    <div class="navbar mtnav">

      <div class="container offset-3">
        <!-- Navigation-->
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="navbar-brand"><img src="img/logo.png" alt="Travel Agency Logo" class="logo"/></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown active">
              <a data-toggle="dropdown" class="dropdown-toggle" href="index.html">Home<b class="lightcaret mt-2"></b></a>
              <ul class="dropdown-menu posright-0">
                <li>
                  <div class="row dropwidth01">
                    <ul class="droplist col-md-4">
                      <li class="dropdown-header">Homepages</li>
                      <li><a href="index.html">Home 1 minimal</a></li>
                      <li><a href="index2.html">Home 2 offers</a></li>
                      <li><a href="index3.html">Home 3 full search</a></li>
                      <li><a href="index4.html">Home 4 presentation</a></li>
                      <li><a href="index5.html">Home 5 footer2</a></li>
                      <li><a href="index6.html">Home 6 full</a></li>
                      <li><a href="index7.html">Home 7 </a></li>
                    </ul>
                    <ul class="droplist col-md-4">
                      <li class="dropdown-header">Intro pages</li>
                      <li><a href="intro.html">Intro 1</a></li>
                      <li><a href="intro2.html">Intro 2 - slides</a></li>
                      <li><a href="intro3.html">Intro 3 - slides2</a> <span class="green">new</span></li>
                    </ul>
                    <ul class="droplist col-md-4">
                      <li class="dropdown-header">Colors</li>
                      <li><a href="#">Blue</a></li>
                      <li><a href="../green/index.html">Green</a> <span class="green">new</span></li>
                      <li><a href="../orange/index.html">Orange</a> <span class="green">new</span></li>
                      <li><a href="../cyan/index.html">Cyan</a> <span class="green">new</span></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Pages<b class="lightcaret mt-2"></b></a>
              <ul class="dropdown-menu posright-0">
                <li>
                  <div class="row dropwidth02">
                    <ul class="droplist col-md-6">
                      <li class="dropdown-header">Inner pages</li>
                      <li><a href="../list/list.html">List page 1</a></li>
                      <li><a href="../list/list2.html">List page 2</a></li>
                      <li><a href="../list/list3.html">List page 3</a></li>
                      <li><a href="../list/list4.html">List page 4</a></li>
                      <li><a href="details.html">Details page</a></li>
                      <li><a href="../../main/views/payment.html">Payment</a></li>
                      <li><a href="contact.html">Contact</a> <span class="green">new</span></li>
                      <li><a href="../../main/views/profile.html">User Profile</a></li>
                      <li><a href="../../main/views/login.html">Login</a></li>
                    </ul>
                    <ul class="droplist col-md-6">
                      <li class="dropdown-header">Bootstrap Shortcodes</li>
                      <li><a href="http://getbootstrap.com/components/" target="_blank">Components</a></li>
                      <li><a href="http://getbootstrap.com/javascript/" target="_blank">Javascript</a></li>
                      <li><a href="http://getbootstrap.com/css/" target="_blank">Css</a></li>
                      <li class="dropdown-header">Comming soon</li>
                      <li class="inactive"><a href="#">About</a></li>
                      <li class="inactive"><a href="#">Blog page</a></li>
                      <li class="inactive"><a href="#">Dashboard</a></li>
                      <li class="inactive"><a href="#">New Home page</a></li>
                      <li class="inactive"><a href="#">Elements</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Flights</a></li>
            <li><a href="#">Vacations</a></li>
            <li><a href="#">Cars</a></li>
            <li><a href="#">Cruises</a></li>
            <li><a href="#">Things to do</a></li>
            <li><a href="#">Last minute</a></li>
            <li><a href="#">Early booking</a></li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Deals<b class="lightcaret mt-2"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Aligned Right Dropdown</li>
                <li><a href="#">Sample Link 1</a></li>
                <li><a href="#">Sample Link 2</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /Navigation-->
      </div>

    </div>
  </div>
</div>
<!-- / Top wrapper -->