


.page{width:90%; text-align:left; border:0px solid black; }
.fullwidth{  padding:50px; }
.center{text-align:center; margin:0 auto;}


.top {height:60px; border-bottom:1px solid #efefef;}


.opensans{font-family:"Open Sans";}


ul li{ list-style-type:decimal; color:#333; list-style-position:inside;}

ul.list01 li{ list-style-type:square; color:#333; list-style-position:inside;}

.content h1 {
	font-family:"Open Sans";
	font-size:72px ;
	font-weight:300;
	color:#222;
	line-height:78px;		
}

.content h2 {
	font-family:"Open Sans";
	font-size:52px ;
	font-weight:300;
	color:#222;
	line-height:60px;		
}
.content h3 {
	font-family:"Open Sans";
	font-size:30px ;
	font-weight:300;
	color:#222;
	line-height:40px;		
}
.content h4 {
	font-family:"Open Sans";
	font-size:24px ;
	font-weight:300;
	color:#222;
	line-height:34px;	
}
.content h5 {
	font-family:"Open Sans";
	font-size:18px ;
	font-weight:300;
	color:#222;
	line-height:26px;
}
.content h6 {
	font-family:"Open Sans";
	font-size:14px ;
	font-weight:300;
	color:#222;
	line-height:24px;
}

/*TEXT SIZES*/
.size10{font-size:10px;}
.size12{font-size:12px; line-height:22px;}
.size14{font-size:14px; line-height:24px;}
.size16{font-size:16px; line-height:21px;}
.size18{font-size:18px; line-height:26px;}
.size20{font-size:20px;}
.size22{font-size:22px;}
.size24{font-size:24px; line-height:30px;}
.size26{font-size:26px;}
.size28{font-size:28px;}
.size30{font-size:30px; line-height:36px;}
.size32{font-size:32px; line-height:36px;}
.size34{font-size:34px; line-height:36px;}
.size36{font-size:36px;}
.size38{font-size:38px;}
.size40{font-size:40px;}
.size42{font-size:42px;}
.size44{font-size:44px;}
.size46{font-size:46px;}
.size48{font-size:48px;}
.size50{font-size:50px;}
.size60{font-size:60px; line-height:60px;}
.size72{font-size:72px; line-height:50px;}



/*TEXT ATTRIBUTES*/
.caps{text-transform:uppercase;}
.normal{font-weight:400 !important;}
.bold{font-weight:700 !important;}
.light{font-weight:300 !important;}
.condensed{letter-spacing:-2px;}
.cursor{ cursor: pointer; }
.pointer{ cursor: pointer; }

/*TEXT ATTRIBUTES*/
.white{color:#fff;}
.dark{color:#444;}
.dark a{color:#444; -webkit-transition:.2s;-moz-transition:.2s;transition:.2s;}
.dark a:hover{color:#ff6633;}


.black{color:#222;}
.gray{color:#666;}
.lightgray{color:#999;}
.lightpink{color:#ff9999;}
.lightpink a{color:#ffff99;}
.boxwhite{color:#fff;}




/* 
#################################################
POSITIONING ELEMENTS MARGINS PADDINGS CONTAINERS
#################################################
*/
	
	 
.left{ float:left;}
.right{ float:right;}
.clearfix{clear:both;}
.relative{position:relative;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.center{margin:0 auto; text-align:center;}
.textleft{text-align:left;}
.textright{text-align:right;}
.block{display:block;}
.none{display:none;}
.inline{display:inline;}


/*margins*/
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}

.ml1{margin-left:-1px;}
.ml-5{margin-left:-5px;}
.ml-10{margin-left:-10px;}
.ml-15{margin-left:-15px;}
.ml-20{margin-left:-20px;}
.ml-25{margin-left:-25px;}
.ml-30{margin-left:-30px;}
.ml-35{margin-left:-35px;}
.ml-40{margin-left:-40px;}
.ml-45{margin-left:-45px;}
.ml-50{margin-left:-50px;}

.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}

.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt100{margin-top:100px;}
.mt200{margin-top:200px;}

.mt-5{margin-top:-5px;}
.mt-10{margin-top:-10px;}
.mt-20{margin-top:-20px;}
.mt-30{margin-top:-30px;}
.mt-40{margin-top:-40px;}
.mt-50{margin-top:-50px;}
.mt-60{margin-top:-60px;}

.mb5{margin-bottom:5px;}
.mb30{margin-bottom:30px;}





/*paddings*/
.p10 {padding:10px;}
.p20 {padding:20px;}
.p30 {padding:30px;}
.p40 {padding:40px;}
.p50 {padding:50px;}


.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt55{padding-top:55px;}
.pt60{padding-top:60px;}
.pt70{padding-top:70px;}
.pt80{padding-top:80px;}
.pt90{padding-top:90px;}
.pt100{padding-top:100px;}
.pt120{padding-top:120px;}
.pt130{padding-top:130px;}
.pt140{padding-top:140px;}
.pt150{padding-top:150px;}
.pt160{padding-top:160px;}
.pt170{padding-top:170px;}
.pt180{padding-top:180px;}
.pt190{padding-top:190px;}
.pt200{padding-top:200px;}



.pl30{padding-left:30px;}
.pl60{padding-left:60px;}





/*widths & heights*/
.h10{height:10px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h70{height:70px;}
.h80{height:80px;}
.h90{height:90px;}
.h100{height:100px;}
.h150{height:150px;}
.h200{height:200px;}
.h250{height:250px;}
.h300{height:300px;}
.h400{height:400px;}
.h450{height:450px;}
.h470{height:470px;}
.h500{height:500px;}
.h570{height:570px;}

.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w170{width:170px;}
.w180{width:180px;}
.w190{width:190px;}
.w200{width:200px;}

.w10pcent{width:10%;}
.w15pcent{width:15%;}
.w20pcent{width:20%;}
.w25pcent{width:25%;}
.w30pcent{width:30%;}
.w35pcent{width:35%;}
.w40pcent{width:40%;}
.w45pcent{width:45%;}
.w50pcent{width:50%;}
.w55pcent{width:55%;}
.w60pcent{width:60%;}
.w65pcent{width:65%;}
.w70pcent{width:70%;}
.w75pcent{width:75%;}
.w80pcent{width:80%;}
.w85pcent{width:85%;}
.w90pcent{width:90%;}
.w95pcent{width:95%;}
.w100pcent{width:100%;}

.w200{width:200px;}




/* BACK TO TOP BUTTON */

#back-top {
	position: fixed;
	bottom: 0px;
	right: 40px;
}
#back-top a {
	width: 32px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #666;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #999;
}
/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	padding:7px 0px 7px 0px;
	display: block;
	background: #333 no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #000;
}

